---
# tasks file for webserver
- name: install httpd
  yum:
    name: httpd
    state: present

- name: start service
  service:
    name: httpd
    state: started
    enabled: true

- name: copy the file
  template:
    src: index.html
    dest: /var/www/html/index.html
  notify: restart_service

